{% extends 'books/base.html' %}
{% block title %}{{ book.title }}{% endblock title %}
{% block content %}
<main>
	<div class="container">
		<div class="col-lg-12 pt-3">
			<div class="row">
				<div class="col-md-5">
					<img src="{{ book.cover.url }}" class="img-fluid" alt="cover">
				</div>
				<div class="col-md-7 pl-lg-5">
					<h2 class="text-center">{{ book.title }}</h2>
					<h6 class="pl-lg-4 mt-5">
						<b>Подробная информация</b>
					</h6>
					<ul>
						<li>
							<span>Год написания:  {{ book.year_of_writing }}</span>
						</li>
						<li>
							<span>Год издания:  {{ book.year_of_publishing }}</span>
						</li>
						<li>
							<span>Дата поступления:  {{ book.date_receipt }}</span>
						</li>
						<br>
						<li>
							<span>ISBN:  {{ book.isbn }}</span>
						</li>
						<li>
							<span>Количество страниц:  {{ book.pages }}</span>
						</li>
						<li>
							<span>Число знаков:  {{ book.signs }} тыс.</span>
						</li>
						<br>
						<li>
							<span>Писатель:  {{ book.writer }}</span>
						</li>
						{% for translator in book.translator.all %}
						<li>
							<span>Переводчик:  {{ translator.name }}</span>
						</li>
						{% endfor %}
						<li>
							<span>Издательство:
								{% for publisher in book.publisher.all %}
								{{ publisher.name }}
								{% endfor %}
							</span>
						</li>
						<li>
							<span>Возрастное ограничение:  {{ book.age }}</span>
						</li>
						<li>
							<a href="#">Рейтинг:
								<span class="fa fa-star" aria-hidden="true"></span>
								<span class="fa fa-star" aria-hidden="true"></span>
								<span class="fa fa-star" aria-hidden="true"></span>
								<span class="fa fa-star" aria-hidden="true"></span>
								<span class="fa fa-star" aria-hidden="true"></span>
								<span>5.0</span>
							</a>
						</li>
					</ul>
					<a href="{{ book.get_absolute_url }}read-excerpt/">
						<h6 class="pl-lg-4 mt-5"><b>Читать отрывок</b></h6>
					</a>
					<a href="#">
						<h6 class="pl-lg-4 mt-5"><b>Слушать фрагмент</b></h6>
					</a>
					<!--					<ul>-->
					<!--						<div class="share-desc">-->
					<!--							<div class="share">-->
					<!--								<ul class="w3layouts_social_list list-unstyled">-->
					<!--									<li>-->
					<!--										<a href="#" class="w3pvt_facebook editContent"-->
					<!--											 style="outline: none; cursor: inherit;">-->
					<!--											<span class="fa fa-facebook-f" style="outline: none; cursor: inherit;"></span>-->
					<!--										</a>-->
					<!--									</li>-->
					<!--									<li>-->
					<!--										<a href="#" class="w3pvt_twitter editContent"-->
					<!--											 style="outline: none; cursor: inherit;">-->
					<!--											<span class="fa fa-twitter" style="outline: none; cursor: inherit;"></span>-->
					<!--										</a>-->
					<!--									</li>-->
					<!--									<li>-->
					<!--										<a href="#" class="w3pvt_dribble editContent"-->
					<!--											 style="outline: none; cursor: inherit;">-->
					<!--											<span class="fa fa-dribbble" style="outline: none; cursor: inherit;"></span>-->
					<!--										</a>-->
					<!--									</li>-->
					<!--								</ul>-->
					<!--							</div>-->
					<!--							<div class="clearfix"></div>-->
					<!--						</div>-->
					<!--					</ul>-->
				</div>
			</div>
			<hr>
			<div class="container mt-5">
				<div class="row mt-5">
					<div class="col-2"></div>
					<div class="col-8">
						<h5 class="pl-lg-5"><b>Жанры</b></h5>
						<span>
						{% for genre in book.genres.all %}
							<a class="navbar-text" href="#">
								<input type="button" value="{{ genre.name }}"
											 class="btb btn-sm btn-outline-primary">
							</a>
						{% endfor %}
						</span>
						<h5 class="pl-lg-5 mt-5"><b>Тэги</b></h5>
						<span>
						{% for tag in book.tags.all %}
							<a class="navbar-text" href="#">
								<input type="button" value="{{ tag.name }}"
											 class="btb btn-sm btn-outline-primary">
							</a>
						{% endfor %}
						</span>
						<h3 class="pl-lg-4 mt-5"><b>О книге</b></h3>
						<p class="main_font_style mt-2">{{ book.description }}</p>
						<hr>
						{% for review in book.review_set.all %}
						<div class="media py-5">
							<img src="#" class="img-fluid mr-3" alt="image">
							<div class="media-body mt-4">
								<h5 class="mt-0">{{ review.name }}</h5>
								<p class="mt-2">{{ review.text }}</p>
								<a href="#formReview" onclick="addReview('{{ review.name }}', '{{ review.id }}')">
									<small style="color: #01155e;">Ответить</small>
								</a>
								<!--						<div class="media mt-5 editContent"-->
								<!--								 style="outline: none; cursor: inherit;">-->
								<!--							<a class="pr-3" href="#">-->
								<!--								<img src="bundles/images/te1.jpg" class="img-fluid "-->
								<!--										 alt="image" style="outline: none; cursor: inherit;">-->
								<!--							</a>-->
								<!--							<div class="media-body">-->
								<!--								<h5 class="mt-0 editContent"-->
								<!--										style="outline: none; cursor: inherit;">Leia Organa</h5>-->
								<!--								<p class="mt-2 editContent"-->
								<!--									 style="outline: none; cursor: inherit;"> Cras sit amet-->
								<!--									nibh libero, in gravida nulla. Nulla vel metus-->
								<!--									scelerisque ante sollicitudin. Cras purus odio,-->
								<!--									vestibulum in vulputate at, tempus viverra turpis. Fusce-->
								<!--									condimentum nunc ac nisi vulputate fringilla..</p>-->
								<!--							</div>-->
							</div>
						</div>
						{% endfor %}
						<h5 class="pl-lg-5 mt-5">
							<small class="text-muted">02</small>
							<b>Оставить отзыв</b>
						</h5>
						<form action="{% url 'add_review' book.id %}" method="post" class="mt-4"
									id="formReview">
							{% csrf_token %}
							<input type="hidden" name="parent" id="contactparent" value="">
							<div class="form-group">
								<!--							<label for="contactcomment">Ваш комментарий *</label>-->
								<textarea class="form-control border" rows="5" name="text" id="contactcomment"
													required="" placeholder="Ваш комментарий"></textarea>
							</div>
							<div class="d-sm-flex">
								<div class="col-sm-6 form-group ml-sm-0">
									<!--								<label for="contactusername">Имя *</label>-->
									<input type="text" class="form-control border" name="name" id="contactusername"
												 required="" placeholder="Имя">
								</div>
								<div class="col-sm-6 form-group ml-sm-0">
									<!--								<label for="contactemail">Email *</label>-->
									<input type="email" class="form-control border" name="email" id="contactemail"
												 required="" placeholder="Email">
								</div>
							</div>
							<button type="submit"
											class="btn btn-block btn-lg btn-outline-success mt-4 mb-5 py-2">
								Опубликовать
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<script>
	function addReview(name, id) {
		document.getElementById("contactparent").value = id;
		document.getElementById("contactcomment").innerText = `${name}, `;
	}
</script>
{% endblock content %}