<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8" content="text/html">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Site Book club">

	<title>Электронная библиотека - Книжный клуб</title>

	<!-- Bootstrap core CSS and custom styles for this template-->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">

	<!-- Favicons -->
	<link rel="apple-touch-icon"
				href="{% static 'image/favicon-128x128.png' %}" sizes="128x128">
	<link rel="icon" href="{% static 'image/favicon-64x64.png' %}" sizes="64x64" type="image/png">
	<link rel="icon" href="{% static 'image/favicon-32x32.png.png' %}" sizes="32x32"
				type="image/png">
	<link rel="mask-icon"
				href="{% static 'image/favicon.svg' %}" color="#563d7c">
	<link rel="icon" href="{% static 'image/favicon.ico' %}">

</head>
<body>

<header>
	<div class="top-banner">
		<a href="#">Книга лучший подарок, купите сертификат для ваших родных и близких!</a>
	</div>
	<div class="container rounded">
		<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
			<a class="navbar-brand" href="/">
				<img src="{% static 'image/title.png' %}" alt="title-logo" width="120">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
							aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<form class="form-inline ml-5 my-md-2">
					<input class="form-control" type="search" placeholder="Книга или автор">
					<button class="btn btn-outline-secondary ml-2" type="submit">Найти</button>
				</form>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item mr-4">
						<a class="nav-link" href="#">Теги</a>
					</li>
					<li class="nav-item mr-4">
						<a class="nav-link" href="#">Жанры</a>
					</li>
					<li class="nav-item mr-4 dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown_my_books"
							 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Мои книги</a>
						<div class="dropdown-menu" aria-labelledby="dropdown_my_books">
							<a class="dropdown-item" href="#">Все</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Прочитанные</a>
							<a class="dropdown-item" href="#">В процессе</a>
							<a class="dropdown-item" href="#">Отложенные</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Корзина</a>
						</div>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#">Войти</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="header-bottom">
			<div class="row">
				<div class="col bg-transparent">
					<button type="button" class="btb btn btn-outline-light bg-secondary">Что почитать?
					</button>
					<button type="button" class="btb btn btn-outline-light bg-secondary">Новинки</button>
					<button type="button" class="btb btn btn-outline-light bg-secondary">Популярное</button>
					<button type="button" class="btb btn btn-outline-light bg-secondary">Аудиокниги</button>
					<button type="button" class="btb btn btn-outline-light bg-secondary">Топ аудиокниг
					</button>
					<button type="button" class="btb btn btn-outline-light bg-secondary">Бесплатные</button>
					<button type="button" class="btb btn btn-outline-light bg-secondary">-50%</button>
					<button type="button" class="btb btn btn-outline-light bg-secondary">Случайная
						книга
					</button>
					<button type="button" class="btb btn btn-outline-light bg-secondary">Новости</button>
				</div>
			</div>
		</div>
	</div>
</header>

<main>
	<div class="container">
		<div class="left-ads-display col-lg-12">
			<div class="row">
				{% for book in books %}
				<div class="col-md-2 product-men">
					<div class="product-shoe-info editContent text-center mt-lg-4">
						<div class="men-thumb-item">
							<img src="{{ book.cover.url }}" class="img-fluid" alt="">
						</div>
						<div class="item-info-product">
							<h4 class="">
								<a href="moviesingle.html" class="editContent">
									<small>{{ book.title }}</small>
								</a>
							</h4>
							<div class="product_price">
								<div class="grid-price">
									<small class="money editContent">{{ book.writer }}</small>
								</div>
							</div>
<!--							<ul class="stars">-->
<!--								<li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>-->
<!--								<li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>-->
<!--								<li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>-->
<!--								<li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>-->
<!--								<li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>-->
<!--							</ul>-->
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
</main>

<footer>
	<div class="container py-5">
		<div class="row">
			<div class="col-12 col-md">
				<small class="d-block mb-3 text-muted">© 2020</small>
			</div>
			<div class="col-4 col-md">
				<h5>О проекте Book club</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">О проекте</a></li>
					<li><a class="text-muted" href="#">Правовая информация</a></li>
					<li><a class="text-muted" href="#">Правообладателям</a></li>
					<li><a class="text-muted" href="#">Помощь проекту</a></li>
					<li><a class="text-muted" href="#">Сотрудничество</a></li>
				</ul>
			</div>
			<div class="col-4 col-md">
				<h5>О подписке</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Купить подписку</a></li>
					<li><a class="text-muted" href="#">Подарить подписку</a></li>
					<li><a class="text-muted" href="#">Как оплатить</a></li>
					<li><a class="text-muted" href="#">Ввести код</a></li>
					<li><a class="text-muted" href="#">Помощь</a></li>
				</ul>
			</div>
			<div class="col-4 col-md">
				<h5>Сотрудничество</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Издательствам</a></li>
					<li><a class="text-muted" href="#">Авторам</a></li>
					<li><a class="text-muted" href="#">Библиотекам</a></li>
					<li><a class="text-muted" href="#">Партнёрам</a></li>
					<li><a class="text-muted" href="#">Вебмастерам</a></li>
				</ul>
			</div>
		</div>
		<div class="text-center">
			<span class="mr-4">Мы в сети:</span>
			<a href="/">
				<img class="social mr-2" src="{% static 'image/social/facebook.ico' %}" alt="facebook">
			</a>
			<a href="/">
				<img class="social mr-2" src="{% static 'image/social/vk.ico' %}" alt="vk">
			</a>
			</a>
			<a href="/">
				<img class="social mr-2" src="{% static 'image/social/twitter.ico' %}" alt="twitter">
			</a>
			<a href="/">
				<img class="social mr-2" src="{% static 'image/social/instagram.ico' %}" alt="instagram">
			</a>
			<a href="/">
				<img class="social mr-2" src="{% static 'image/social/telegram.ico' %}" alt="telegram">
			</a>
			<a href="/">
				<img class="social mr-2" src="{% static 'image/social/viber.ico' %}" alt="viber">
			</a>
			<a href="/">
				<img class="social mr-2" src="{% static 'image/social/whatsapp.ico' %}" alt="whatsapp">
			</a>
			<a href="/">
				<img class="social mr-2" src="{% static 'image/social/discord.ico' %}" alt="discord">
			</a>
			<a href="/">
				<img class="social mr-2" src="{% static 'image/social/snapchat.ico' %}" alt="snapchat">
			</a>
			<a href="/">
				<img class="social mr-2" src="{% static 'image/social/kakaotalk.ico' %}" alt="kakaotalk">
			</a>
			<a href="/">
				<img class="social mr-2" src="{% static 'image/social/youtube.ico' %}" alt="youtube">
			</a>
			<a href="/">
				<img class="social mr-2" src="{% static 'image/social/gmail.ico' %}" alt="gmail">
			</a>
		</div>
	</div>
</footer>

<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
