body {
  font-size: 17px;
  line-height: 140%;
}

a:link {
  text-decoration: none;
  color: #010714;
}

a:active {
  text-decoration: none;
  color: #19a803;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}

header {
  background-color: #ebebeb;
}

.top-banner {
  text-align: center;
  color: #000000;
  background-color: #5574c2;
  height: 70px;
  line-height: 70px;
}

.header-bottom {
  text-align: center;
  height: 75px;
  margin-top: 40px;
  margin-bottom: 0px;
}

main {
  font-family: Verdana, sans-serif;
  font-size: 17px;
  line-height: 140%;
  background-color: #f2f2f2;
}

.main_title {
  color: #22252b;
  font-size: 13px;
}

.main_writer {
  color: #01194a;
  font-size: 13px;
}

footer {
  background-color: #ebebeb;
}

.social {
  height: 35px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.font_style {
  font-size: 21px;
  font-family: Times New Roman, serif;
}
